.mainContent {
    //     margin-top: 60px;
    //      margin-left: 200px;
    //      padding: 20px;
    height: calc(100vh - 40px);
    width: calc(100% - 60px);
    position: absolute;
    top: 40px;
    left: 60px;
}
