.sideBar {
    height: 100%;
    background-color: #080808;
    color: #fff;
    padding: 20px 2px 20px 0;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1000;
    font-size: 20px;
    .titleSpace {
        display: flex;
        flex-direction: column;
      
        // gap: 20px;
        .rotateclass {
            writing-mode: vertical-rl;

            opacity: 0.5;
            border-right: 1px solid transparent;
            transition: all 0.1s;
            font-weight: 200;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 100px;
            cursor: pointer;
            a{
                text-decoration: none;
                color: #fff;
            }
           
        }
        .rotateclass:hover{
            opacity: 1;
            border-right: 1px solid #0aff9d;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
        .addSelect {
            opacity: 1;
            border-right: 1px solid #0aff9d;
        }
    }
}
